@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,700;1,300&family=Montserrat:wght@300;600&display=swap');

:root{
    --primary-color:#1E40AF;
    --dark-gray:#6B7280;
    --offwhite-gray:#F3F4F6;
}

body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding:0 1rem;
}

.container-center{
    max-width: 600px;;
    margin:auto;
}

.link{
    text-decoration: none;
    padding:0.5rem 1rem;
}

.link-primary{
   background-color: var(--primary-color);
   color:white;
   border-radius: 0.5rem;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

hr{
    margin: 2rem 0;
}

.list-non-bullet{
    list-style-type: none;
    padding-inline-start: 0px ;
}

.list-item-inline{
    display: inline;
    padding:0 0.5rem;
}

.navigation{
   background-color: var(--primary-color);
   color:White; 
   padding: 1rem 0;
   border-bottom-left-radius: 1rem;
}

.navigation .link{
    color:white;
}

.navigation .nav-pills{
    text-align:right;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.2rem;
}
.navigation .link-active{
    font-weight: bold;
    border-bottom: 2px solid var(--offwhite-gray);
    border-radius: 0.1rem;
}

.header{
    padding:2rem;
    padding-top:5rem;
}

.header .header-img{
    max-width: 350px;
    display: block;
    margin: auto;
}

.header .header-heading{
    color:var(--dark-gray);
    text-align: center;
    padding:1rem;
}
.header .header-heading .heading-inverted{
    color: var(--primary-color);
}

.section{
    padding: 2rem;
    margin:1rem 0;
}
.section .section-header{
    text-align: center;
}


.section-ow{
    background-color:var(--offwhite-gray);
    border-radius: 0.2rem;
}

 .section p{
     margin: 2rem 0;;
 }

.footer {
background-color: var(--primary-color);
color:white;
padding:2rem;
text-align: center;
border-top-right-radius: 1rem;
}
.footer .link{
    color: white;
}
.footer ul{
    padding-inline-start: 0;
}

.footer .footer-header{
    font-size: x-large;
    font-weight: bold;
}

.footer .link{
    padding:0.5rem;
}
