@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,700;1,300&family=Montserrat:wght@300;600&display=swap');

:root{
    --primary-color:#1E40AF;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;;
    margin:auto;
}

.link{
    text-decoration: none;
    padding:0.5rem 1rem;
}

.link-primary{
   background-color: var(--primary-color);
   color:white;
   border-radius: 0.5rem;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

hr{
    margin: 2rem 0;
}

.list-non-bullet{
    list-style-type: none;;
}

.list-item-inline{
    display: inline;
    padding:0 0.5rem;
}

.navigation{
   background-color: var(--primary-color);
   color:White; 
   padding: 1rem 0;
   border-bottom-left-radius: 1rem;
}

.navigation .link{
    color:white;
}

.navigation .nav-pills{
    text-align:right;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.2rem;
}
.navigation .link-active{
    font-weight: bold;
}